:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0e9ca;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Navbar styling */
.nav-logo {
  color: #f0e9ca;
}
.navcontainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #212125;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navlinks {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.navlinks a {
  color: #949494;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  border-top: 2px solid #e23737;
  box-sizing: border-box;
}
.navlinks a:last-child {
  border-top: 2px solid #e23737;
  border-bottom: 2px solid #e23737;
}

/* Transfer styling */
.loader-position {
  position: fixed;
  top: 9rem;
  height: 20%;
  width: 20%;
}
.loader-container {
  width: 100%;
  height: 100%;
  /* background-color: #8d86b3; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12%;
}
.loader-truck {
  width: 10%;
  position: relative;
  right: 5rem;
  top: 1rem;
}
.loader-warehouse-left {
  width: 30%;
  height: 30%;
}
.loader-warehouse-right {
  width: 30%;
  height: 30%;
}
.menu-container {
  width: 100%;
  height: 100%;
  color: #933e3e;
}
.menu-position {
  position: fixed;
  top: 25rem;
  height: 30%;
  width: 20%;
}
.menu-item {
  width: 80%;
}
.transfer-button {
  background-color: #212125;
  border: 0.15rem solid #e23737;
  color: #949494;
  position: relative;
  top: 1rem;
}

/* info box styling for dash */
.info-boxes {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: -500px;

}

.info-box {
  flex: 1;  /* Ensures each box takes equal space */
  padding: 20px;
  margin: 0 50px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 4px;
  border: 4px solid black;
  text-align: justify;
  background-color: #933e3e; /* Light background for the content */
  color: #ffffff;
  width: 300px;  /* Set the width of the info box */
  height: 200px; /* Set the height of the info box */
  font-size: 40px;
  flex-direction: column;
}

.activity-table {
  margin-top: 50px; /* Default spacing for larger screens */
  position: absolute
}
.bottom-text {
  position: absolute;  /* Set the text to absolute positioning */
  font-size: 25px;;
  text-align: justify; /* Center the text horizontally */
  left:auto;
  bottom: 1000px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Managements styling */
.management {
  position: fixed;
  top: 20px;
  left: 215px;
  font-size: 0.95rem;
  color: #933e3e;
}
.DataTableCell {
  width: 110px;
  color: #933e3e;
}
.headerCell {
  color:#933e3e;
  font-weight: bold;
}
button {
  background-color: #964646;
  font: 0.95rem Arial;
}
/*Add Page Styling*/
.add{
  background-color: #f0e9ca;
  position:absolute;
  top:0;
  left: 200px;
  right:0;
  bottom:0;
}
.text_1 {
  position: absolute;
  top: 40px; 
  left: 30px; 
  right: 400px;
  bottom: 50px; 
  background-color: #FBEAEB;
  margin-right: 10%;
  padding-top: 30px;
  border-radius: 30px 30px 30px 30px;
  border: 4px solid black;
}
.text{
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}
.input{
  display:flex;
  width: 100%;
}
.input-label{
  font-size: 20px;
  margin-left: 30px;
  font-weight: 500;
  margin-bottom: 25px;
}
.text-input{
  margin-left: -7px;
  width: 350px;
}
.number-input{
  margin-left: 50px;
  width: 500;
  margin-bottom: 25px;
  margin-right: 300px;
  display:flex;
  margin-left: 47px;
  .dollar{
    font-size: 18px;
    margin-top:2px;
  }
}
.count-input{
  margin-left: 50px;
  width: 500px;
  margin-bottom: 25px;
  margin-right: 350px;
  margin-left: 25px;
}
.input{
  margin-top: 2px;
}
.location{
  margin-left: 25px;
  margin-bottom: 20px;
  border-color: black;
}
.size{
  margin-left: 66px;
  margin-bottom: 20px;
}
.brand-name{
  margin-left: 48px;
  width: 350px;
}
.type{
  margin-left: 59px;
}
.description{
  margin-left: 58px;
  width: 350px;
}
.button{
  font-size: 20px;
  color: black;
}
.text_2 {
  position: absolute;
  top: 40px; 
  left: 600px; 
  right: 60px;
  bottom: 345px; 
  background-color: #FBEAEB;
  padding-top: 30px;
  border-radius: 30px 30px 30px 30px;
  border: 4px solid black;
}
.text2{
  font-weight: bold;
  font-size: 20px;
}
.type-option{
  position: absolute;
  top: 350px; 
  left: 600px; 
  right: 60px;
  bottom: 50px; 
  background-color: #FBEAEB;
  padding-top: 30px;
  border-radius: 30px 30px 30px 30px;
  border: 4px solid black;
}
.type-option-style{
  font-weight: bold;
  font-size: 20px;
}
.warehouse-loc{
  width: 250px;
  margin-left: 80px;
  margin-top: 45px;
}
.warehouse-button{
  margin-top: 35px;
}