.reports-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #f0e9ca;
    height: 210vh;
}

.chart-container {
    width: 130%; 
    height: 500px;
    background-color: rgb(245, 239, 212);
    border: 2px solid #212125;
    padding: 0.5px;
    margin-bottom: 20px;
    margin-right: -28%;
}

.table-container {
    width: 130%;
    background-color: rgb(245, 239, 212);
    border: 2px solid #212125;
    padding: 20px;
    margin-right: -28%;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table th, .table td {
    border: 1px solid #212125;
    padding: 8px 20px;
    white-space: nowrap;
}

.table th {
    background-color: rgb(245, 239, 212);
    text-align: left;
}

.table td:nth-child(1) {
    width: 10%;
}

.table td:nth-child(2) {
    width: 30%;
}

.table td:nth-child(3) {
    width: 20%;
}

.table td:nth-child(4) {
    width: 40%;
}

h2 {
    margin-bottom: 20px;
    color: #212125;
    text-align: center; 
    width: 50%; 
}

